/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

:root {
  --brand-p: #752222;
  --brand-s: #1780a0;
  --brand-w: white;
  --brand-linkl: white;
  --brand-linkd: #232323;
  --brand-g: rgb(88, 88, 88);
  --brand-blk: #232323;
}

html,
body,
body * {
  box-sizing: border-box;
  margin: 0;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

.wait {
  content-visibility: auto;
}

body {
  width: 100%;
  height: auto;
  /* height: 100vh; */
  font-family: sans-serif;
  position: relative;
  background: white;
  overflow: overlay;
  overflow-x: hidden;
}

@font-face {
  font-family: "Tepid";
  src: url("/font/tepid.ttf");
  /* src: url("CustomFont.woff") format("woff"),
    url("CustomFont.otf") format("opentype"),
    url("CustomFont.svg#filename") format("svg"); */
}

p {
  line-height: 1.4em;
  margin: 0.6em 0;
  font-size: 1em;
}

p.xs {
  font-size: .6em;
  line-height: 1em;
}

p,
h1,
h2,
h3 {
  max-width: 100%;
}

.isdark p,
.isdark h1,
.isdark h2,
.isdark h3,
.isdark li {
  color: #ffffff;
}

a {
  text-decoration: none;
  color: var(--brand-p);
  font-weight: bold;
}

.mobonly {
  display: block;
  position: relative;
}

.isdark a {
  color: var(--brand-p);
}

.text-center,
.tc {
  text-align: center;
}

h1 {
  font-size: 2.8em;
  margin: 1rem 0;
  max-width: 100%;
  text-transform: capitalize;
}

h2 {
  font-size: 2.2em;
  color: var(--brand-g);
}

h3 {
  font-size: 1.8em;
}

.quot {
  font-size: 2.2em;
    color: var(--brand-p)!important;
    text-align: justify;
    line-height: inherit!important;
}

/* YT SETTINGS */

.video-container {
  overflow: hidden;
  position: relative;
  width:560px;
  max-width: 100%;
}

.video-container::after {
  padding-top: 56.25%;
  display: block;
  content: '';
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* alt settings for video */

.vid-container {
  width: 100%;
  padding-bottom: 56.25%;
  position: relative;
}

.vid-container iframe.responsive {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

form .humans {
  display: none;
}

#cst .quote {
  font-style: italic;
  line-height: 1.6em;
  position: relative;
  margin: 3em 2em;
}

#cst .quote::before, #cst .quote::after {
  content: open-quote;
  font-size: 4em;
  position: absolute;
  top: -0.2em;
  left: -0.5em;
}

#cst .quote::after {
  top: unset;
  bottom: -0.5em;
  left: unset;
  right: -.5em;
  content: close-quote;
}

img {
  max-width: 100%;
}

img.cover {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

img.fullback {
  width: 100vw;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
}

img.rotate {
  transform: rotateY(-38deg);
  box-shadow: 6px 6px 6px -2px #00000057;
}

ul li {
  list-style: none;
  position: relative;
}

ul.markers li {
  margin: .5em 1.2em;
  font-weight: bold;
  
}

nav img {
  width: 130px;
  height: auto;
}

.plax {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  z-index: -1;
  bottom: 0;
  left: 0;
  background: url(../img/background1.jpg);
  background-size: cover;
  transform: translateZ(-1px) scale(2);
}

.bg-o {
  background: var(--brand-p);
}

.bg-g {
  background: var(--brand-g);
}

/* STRUCTURE */

.grapper {
  display: -ms-grid;
  display: grid;
  width: 100vw;
  height: auto;
  margin: 0 auto;
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto;
  grid-auto-rows: auto;
  grid-template-columns: repeat(4, 1fr);
  -ms-scroll-snap-type: y mandatory;
  scroll-snap-type: y mandatory;
}

.grapper::after {
  content: "";
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: #f2f6fa00;
  opacity: 1;
  top: 0;
  z-index: -1;
  transform: translateX(-50%);
  left: 50%;
}

.grapper > * {
  grid-column: 1/-1;
}

section {
  position: relative;
  scroll-snap-align: start;
}

section.dark .inner, .inner.wt {
  color: white;
}

section.dark h1 {
  text-shadow: 1px 1px 6px black;
}

.headline {
  font-size: 4.8em;
  color: var(--brand-p);
  text-transform: capitalize;
}

.inner.wt .headline, .inner.wt h1, .inner.wt h2, .inner.wt a {
  color: var(--brand-w);
}

/* nested inner override for resetting "wt" */

.inner.wt .inner a {
  color: var(--brand-p);
}

/* */

.flex {
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
  width: 100%;
  /* height: 100%; */
}

/* ON MOBILE, ALL PADDINGS ARE 1.6EM LEFT AND RIGHT */

.inner.padd {
  padding: 2.6em 1.6em;
}

.inner.padd10 {
  padding: 1em 1.6em;
}

.inner.padd20 {
  padding: 2em 1.6em;
}

.inner.padd30 {
  padding: 3em 1.6em;
}

.inner.padd40 {
  padding: 4em 1.6em;
}

.inner.padd1 {
  padding: 1em 1.6em;
}

.inner.padd2 {
  padding: 2em 1.6em;
}

.inner.padd3 {
  padding: 3em 1.6em;
}

.inner.padd4 {
  padding: 4em 1.6em;
}



.inner.flex {
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
}

.inner.flex.row {
  flex-direction: column;
  /* All flexboxes on mobile are columns!! */
}

.flex.left {
  place-items: flex-start;
  text-align: left;
}

.flex.right {
  place-items: flex-end;
  text-align: right;
}

.flex.top {
  place-content: flex-start;
}

section .inner {
  padding: 1.2em 1.6em;
  height: 100%;
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: flex-start;
  position: relative;
}

section .inner.center {
  place-items: center;
}

section .inner.center > p {
  text-align: center;
}

section .inner.fw {
  padding: 1.6em 0;
  margin: 0 auto;
  width: 90%;
}

section .inner.nopadd {
  padding: 0;
}

section .inner.paddlite {
  padding: 1em 0;
}

.inner.flex.spaced {
  place-content: space-evenly;
  padding: 4em 1em;
}

.inner.flex.start {
  place-content: flex-start;
}

.inner.flex.stretch {
  place-content: space-between;
}

.inner.flex.top {
  place-content: flex-start;
}

.inner.flex.wrap {
  flex-wrap: wrap;
}

.inner.persp {
  perspective: 100vw;
}

.nomargin {
  margin-top: 0!important;
  margin-bottom: 0!important;
}

.inner.d-panel, .flex.d-panel {
  width: 90%;
  height: 100%;
  background: #000000de;
}

.pull25 {
  margin-top: -25vh;
}
.pull50 {
  margin-top: -50vh;
}

.pull25 .inner {
  padding-top: 25vh!important;
}

.pull50 .inner {
  padding-top: 50vh!important;
}
.card {
background: white;
color: var(--brand-p);
    padding: 1.6em;
    max-width: 70vh;
    box-shadow: 0px 14px 6px -9px var(--brand-blk);
    display: flex;
    place-content: space-evenly;
    flex-direction: column;
    text-align: center;
}

.card.bg-blk {
  background: var(--brand-blk);
  color: white;
}

/* .card.left {
  text-align: left;
} */

.card p:nth-of-type(1) {
  margin: 0;
}

.card.feature {
  border-radius: 12px;
  box-shadow: 0px 6px 18px -6px var(--brand-g);
  overflow: hidden;
  position: relative;
  padding: 0;
  /* max-width: 280px; */
  max-width: 100%;
  transition: transform 250ms ease;
  flex-direction: row;
  flex-wrap: wrap;
    place-items: center;
}

.card.feature img {
  min-height: 40%;
  height: 70px;
  width: 33.33%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.card.feature h3 {
  font-size: 1.2em;
  color: var(--brand-g);
}

.card.feature p {
  max-width: 100%;
  font-size: 1em;
  line-height: 1.25em;
  padding: 0 2.6em;
  margin: 0 auto;
}

.card.feature:hover {
  transform: scale(1.1);
  z-index: 9;
}

.card.feature.selected {
  background: var(--brand-p);
  color: white;
  margin: 3em 0;
}

.feature-set, .cards.flex {
  width: 100%;
  margin: 6em auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  place-content: space-evenly;
  overflow: visible;
  gap: 1em;
}

.feature-grid, .cards.grid {
  /* Simply a grid-based version of the above for better row and child placement control */
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(70px, auto);
  width: 100%;
  gap: 1em;
}

.feature-set .item{
  display: flex;
    flex-direction: column;
    place-items: center;
    place-content: space-between;
    height: 100%;
}

.case-detail {
  width: 100%;
  display: none;
  text-align: left;
  margin: 1em 0;
  font-size: .8em;
  background: var(--brand-s);
}

.card.feature .case-detail p {
  margin: 1em 0;
}





/* STYLING FROM HOMEPAGE CONTACTS CARRIES OVER TO INSERTS */
.contacts {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  place-content: center;
  place-items: center;
  width: 100%;
  padding: 0.4em 0.85em;
  background-color: rgba(255, 255, 255, 0.87);
  border: 1px solid var(--brand-p);
  border-radius: 8px;
}

.contacts a:not(.social-buttons) {
  color: var(--brand-p);
  margin: 0.6em 0;
  width: 100%;
}

/*NONE HOMEPAGE FOLLOWS */

#contactsection {
  position: relative;
  /* position: sticky; */
  top: 0;
}

#contactsection .inner.flex {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr;
  grid-auto-rows: auto;
  grid-column-gap: 2em;
  background-color: rgba(0, 0, 0, 0.747);
  width: 100%;
  height: 100%;
  padding: 2em 10%;
}

#contactsection .inner.flex .contacts {
  grid-column: 1/2;
  grid-row: 3/4;
  min-height: 120px;
  max-width: 90%;
  display: flex;
  /* flex-direction: column; */
  place-content: space-around;
  font-size: 1.2em;
}

.contacts a.social-buttons {
  display: flex;
  margin: 0.6em;
  max-height: 20px;
  place-items: center;
}

.social-buttons object {
  width: 20px;
}

.social-buttons p {
  margin: 0.3em;
  font-size: 0.8rem;
  max-width: 100%;
  color: var(--brand-p);
}

.social-buttons i {
color: var(--brand-p);
}

#contactsection .inner.flex h2 {
  grid-column: 1/2;
  grid-row: 1/2;
  color: white;
  font-size: 2.6em;
}

.tabbed-forms {
  width: 100%;
  margin: 1.2em auto;
}

/* SPECIAL CLASSES */

.inline-butts {
  display: -ms-grid;
  display: grid;
  gap: 10px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

a.button {
  width: 100%;
  background-color: var(--brand-p);
  color: white;
  padding: 0.8em 1.1em;
  margin: 1em 0;
  border-radius: 8px;
  place-content: center;
  place-items: center;
  display: flex;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 0px 4px 6px -5px black;
  transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
}

a.button.alt {
  background-color: var(--brand-linkd);
}

.button.alt:hover {
  background-color: var(--brand-g);
}

.button:hover {
  -webkit-filter: brightness(1.3);
          filter: brightness(1.3);
}

.butt-block {
  width: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

a.button.invert,
.CTA .invert {
  background: ghostwhite;
  color: var(--brand-p);
  border: 2px solid var(--brand-p);
}

.cta p {
  font-size: 0.8rem;
}

.CTA form {
  display: flex;
  flex-direction: column;
  place-content: space-evenly;
  padding: 1.4em 0;
  height: 240px;
}

.CTA input {
  padding: 1em;
}

.show-more {
  margin: 2em auto;
  cursor: pointer;
}

.mark::before,
ul.markers li::before {
  content: "";
  position: absolute;
  left: -20px;
  width: 10px;
  margin-bottom: 1em;
  height: 1.3em;
  background-color: var(--brand-p);
}

#li ul {
  height: 100%;
  width: 100%;
  margin: 1em auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
  flex-direction: column;
  place-content: space-evenly;
  place-items: flex-start;
}

.foot-link {
  opacity: 0.55;
  font-size: 0.9em;
  display: flex;
  place-items: center;
  padding: .4em;
  border: 1px solid white;
  width: 100%;
  cursor: pointer;
  transition: opacity 2400ms ease;
}

.foot-link:hover {
  opacity: 1;
  transition: opacity 300ms ease;
}

.foot-link a {
  color: unset;
  font-weight: unset;
}

.gdpr {
  position: -webkit-sticky;
  position: sticky;
  z-index: 9999999;
  top: 70px;
  left: 0;
  right: 0;
  width: 100%;
  height: 60px;
  padding: 0.6em 1em;
  opacity: 0;
  color: white;
  background: #232323;
  display: none;
  place-content: center;
  place-items: center;
  transition: all 600ms ease;
}

.gdpr.showing {
  opacity: 1;
  /* transform: translateY(-100%); */
  display: flex;
}

.gdpr p {
  margin: 0 2em 0 0;
  font-size: 0.8em;
}

.gdpr a {
  /* color: var(--brand-p); */
  color: #fff;
  font-weight: bold;
}

.gdpr .button {
  color: white;
  padding: 0.6em;
  font-size: 0.8em;
  white-space: nowrap;
}

.visible {
  opacity: 1 !important;
}

.instruct {
  display: block;
  font-weight: bold;
  color: var(--brand-p)!important;
  font-size: 0.8em;
  background-color: white;
  padding: 0.8em 1.2em;
  box-shadow: 0 6px 14px -8px black;
  opacity: 0;
  transition: opacity 800ms ease;
}

.is-sent {
  background-color: green;
}

section .inner.grid {
  display: grid;
  /* grid-auto-rows: auto; */
  grid-auto-rows: 1fr;
  /* place-items: center; */
}

.g33, .g50, .g66, .g1, .g2, .g3, .g4 {
  grid-template-columns: 1fr;
}
.grid-bleed {
  grid-column: 1/-1;
}

.nopacity {
  opacity: 0;
}

#close-contact {
  position: absolute;
  right: 25px;
  top: 25px;
  width: 30px;
  height: 30px;
  display: flex;
  place-content: center;
  place-items: center;
  font-size: 1em;
  padding: 0.7em;
  border: 2px solid grey;
  border-radius: 50%;
  z-index: 9;
  color: #d4d4d498;
  cursor: pointer;
}


.section-img {
    max-width: 100%;
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}

/* FORM STUFFS */

input:focus,
textarea:focus {
  border: 4px solid white !important;
}

form {
  display: -ms-grid;
  display: grid;
  width: 100%;
  grid-gap: 1em;
  -ms-grid-columns: 1fr 1em 1fr;
  grid-template-columns: 1fr 1fr;
}

form label {
  width: 100%;
}
form div {
  display: flex;
  place-content: flex-start;
  place-items: center;
}

textarea,
input {
  background: #1e1e1e;
  outline: transparent;
  border: 0px;
  padding: 2rem;
  font-size: 1em;
  color: ghostwhite;
  max-height: 300px;
  max-width: 100%;
  font-family: sans-serif;
  border-radius: 10px;
}

input {
  -ms-grid-column-span: 2;
  grid-column: span 2;
  min-height: 25px;
  padding: .6em 1.2em;
  width: 100%;
}

textarea {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  width: 100% !important;
  resize: vertical;
  overflow: hidden;
}

.inner.bg::before,
.inner.bg-left::before,
.inner.bg-right::before,
.inner.bg-wide::before {
  content: "";
  position: absolute;
  width: 100vw;
  height: 100%;
  right: 0;
  top: 0;
  z-index: -1;
}

.inner.bg-wide::before {
  right: unset;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  background: white;
}

.inner.bg-o::before, .inner.bgc-p::before {
  background: var(--brand-p);
}

.inner.bgc-g::before {
  background: var(--brand-g);
}

.inner.bgc-s::before {
  background: var(--brand-s);
}

.inner.bgc-blk::before {
  background: var(--brand-blk);
}

.inner.bgc-w::before {
  background: var(--brand-w);
}

.inner.bg-right::before {
  right: unset;
  left: 0;
}

.expandable {
  display: none;
}

/* SECTION BG'S */

section#co::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  height: 100%;
  z-index: -1;
  background-color: var(--brand-p);
}

.arrow.d {
  width: 0; 
  height: 0; 
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 40px solid white;
}


/*YOUTUBE SETINGS*/

.ytp-chrome-top.ytp-show-cards-title,
.ytp-gradient-top {
  display: none;
}

@media only screen and (min-width: 42em) {
  .grapper {
    width: 100%;
  }

  .grapper > * {
    grid-column: unset;
  }

  .mobonly {
    display: none;
  }

  section .inner,
  #contactsection #co .inner {
    margin: 0 auto;
  }

  .feature-grid, .cards.grid {

    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-auto-rows: 220px;

  }

  .card.feature {
    flex-direction: column;
  }

  .card.feature p {
    margin: 0 auto 1em;
  }


}

@media only screen and (min-width: 60em) {
  .grapper {
    -ms-grid-rows: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    -ms-grid-columns: (1fr) [6];
    grid-template-columns: repeat(6, 1fr);
    width: 60em;
  }

  /* Full Bleed Grapper */

body.fbg .grapper {
  width: 100vw;
  grid-template-columns: 1fr 37.5em 37.5em 1fr;
}

body.fbg .grapper > * {
  grid-column-start: 2;
  grid-column: span 2;
}

body.fbg .grapper .full-bleed {
  grid-column-start: 1;
  grid-column: 1 / -1;
}

/* ENDS */

  .inner.flex.row {
    flex-direction: row;
  }

  .inner.flex.spaced {
    padding: 2em 1em;
  }

  section .inner.fw {
    padding: 6.8em;
  }

  section .inner.nopadd {
    padding: 0;
  }

  section .inner.paddlite {
    padding: 1em 0;
  }

  .inner.padd {
    padding: 2.6em 1.6em;
  }
  
  .inner.padd10 {
    padding: 1em 0;
  }
  
  .inner.padd20 {
    padding: 2em 0;
  }
  
  .inner.padd30 {
    padding: 3em 0;
  }
  
  .inner.padd40 {
    padding: 4em 0;
  }
  
  .inner.padd1 {
    padding: 1em;
  }
  
  .inner.padd2 {
    padding: 2em;
  }

  .inner.padd3 {
    padding: 3em;
  }
  
  .inner.padd4 {
    padding: 4em;
  }

  .flex50d {
    width: 100%;
    margin: 4em 0;
    display: flex;
    flex-direction: row;
    place-content: center;
  }

  /* FLOATED IMGS IN ARTICLES */

  img.float {
    width: 40%;
    height: auto;
    float: right;
    margin: 1em 0 1em 2em;
    box-shadow: 0px 9px 12px -6px var(--brand-g);
  }

  img.float.left {
    float: left;
    margin: 1em 2em 1em 0;
  }

  .feature-set, .cards.flex {
    flex-wrap: nowrap;
  }

  .card.left {
    text-align: left;
  }

  .card.feature {
    place-content: space-between;
  }

  .card.feature img {
    width: 100%;
    height: 50%;
  }

  .card.feature p {
    position: absolute;
    top: 75%;
    transform: translateY(-75%);
  }

  .card.feature.selected {
    margin: unset
  }

  .g50, .g2 {
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em;
  }
  
  .g33, .g3 {
    grid-template-columns: 1fr 2fr;
    grid-gap: 2em;
  }

  .g3 {
    grid-template-columns: 1fr 1fr 1fr;
  }
  
  .g66 {
    grid-template-columns: 2fr 1fr;
    grid-gap: 2em;
  }

  #contactsection #co .inner {
    width: 60em;
    padding: 3em 6em;
  }

  #contactsection .inner.flex {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto 1fr;
    grid-auto-rows: auto;
    grid-column-gap: 2em;
    gap: 0em;
  }

  #contactsection .inner.flex form {
    grid-column: 2/3;
    height: 100%;
    width: 100%;
    grid-row: 1/4;
    display: grid;
  }

  #contactsection .inner.flex p {
    grid-column: 1/2;
    grid-row: 2/3;
    color: white;
    font-size: 1.2em;
  }

  #contactsection .inner.flex .contacts {
    grid-column: 1/2;
    grid-row: 3/4;
    min-height: 120px;
    display: flex;
    /* flex-direction: column; */
    place-content: space-around;
    font-size: 0.9em;
  }

  section .inner {
    width: 100%;
    padding: 6.6em 1.6em;
    /* background: unset; */
  }

  .inner.d-panel, .flex.d-panel {
    width: 60%;
  }

  #li li::before {
    content: "";
    position: absolute;
    left: -20px;
    width: 10px;
    margin-bottom: 1em;
    height: 1.3em;
    background-color: var(--brand-p);
  }

  a.button {
    width: unset;
  }

  /* p,
  h1,
  h2,
  h3 {
    max-width: 80%;
  } */

  input {
    grid-column: span 1;
  }
  textarea,
  input {
    font-size: 1.2em;
  }

  .inner.padd {
    padding: 3em;
  }

  section .inner.fw, section .inner.nopadd {
    width: 100%;
  }

  .inline-butts {
    width: unset;
    margin: 0;
    grid-template-columns: 1fr 1fr;
  }
  
#li ul {
  display: flex;
  flex-direction: column;
  place-content: space-evenly;
  place-items: flex-start;
}


.foot-link {
  width: unset;
  border: none;
  padding: unset;
}
  
  #sec2 .inner.flex.row {
    flex-direction: row;
  }

  img.fillit {
    position: absolute;
      -o-object-fit: cover;
         object-fit: cover;
      -o-object-position: 50%;
         object-position: 50%;
         width: 100%;
      min-width: 50vw;
      max-width: unset;
      height: 100%;
  }

  img.fillit.left {
    left: unset;
    right: 0;
  }
  img.fillit.right {
    right: unset;
    left: 0;
  }
}

@media only screen and (min-width: 75em) {
  .grapper {
    grid-template-areas:
      "toi toi toi toi tol tol"
      "ab ab ab ga ga ga"
      "ne ne ne co co co"
      "li li li lo lo lo";
    width: 75em;
  }

  #contactsection #co .inner {
    width: 75em;
    align-items: center;
  }
}