.grapper {
    width: 100vw;
    grid-template-columns: calc((100vw - 75em)/2) 1fr 1fr 1fr 1fr calc((100vw - 75em)/2);
    grid-template-rows: 50vh 75vh 100vh auto;
    /* grid-template-areas: 
    "landt landt landt landt landt landi landi landi"
    "cpy cpy cpy cpy cpy cpy cpy cpy"
    /*
    "csi csi csi cst cst cst cst cst"
    "co co co co co co co co"
    "li li li lo lo lo lo lo"; */
}

.inner.left-margin {
    width: calc(100% - (50vw - 37.5em));
    margin-right: 0;
    padding-left: 0;
}

.inner.right-margin {
    width: calc(100% - (50vw - 37.5em));
    margin-left: 0;
    padding-right: 0;
}

.inner.both-margin {
    width: 75em;
}


@media only screen and (min-width: 60em)
p, h1, h2, h3 {
    max-width: 100%;
}