html {
  overflow: auto;
}

/* Enable PLAX for home only */
body {
  perspective: 1px;
}

.grapper {
  grid-template-areas:
    "toi toi toi toi"
    "cus cus cus cus"
    "cli cli cli cli"
    /* "ab ab ab ab" */
    "about about about about"
    "abouti abouti abouti abouti"
    "hdgk hdgk hdgk hdgk"
    /* "ne ne ne ne" */
    "acad acad acad acad"
    "co co co co"
    "ref ref ref ref"
    "lo lo lo lo"
    "li li li li";

    grid-template-rows: calc(100vh - 150px) auto auto auto;
}

.plax {
  -webkit-filter: brightness(0.6);
          filter: brightness(0.6);
}

section#toi {
  grid-area: toi;
  color: white;
  /* min-height: calc(100vh - 150px); */
  transition: all 400ms ease;
}

body.mobgaltrig section#toi {
  min-height: 60vh;
}

section#toi h1 {
  text-shadow: 2px 2px 4px black;
  display: inherit;
  font-size: 3.4em;
  font-family: "Tepid";
  font-weight: 400;
  line-height: 1em;
}

section#toi p {
  text-shadow: 1px 1px 3px black;
  max-width: 660px;
    background: #0000006b;
    padding: 1.2em 2.4em;
}

section#toi::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  width: 100vw;
  z-index: 0;
  opacity: 0.5;
}

section#tol {
  grid-area: tol;
  position: relative;
}

section#tol::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100vw;
  background: #ffffff99;
  z-index: 0;
  opacity: 1;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
}

.learn-top h3 {
  opacity: 0;
  font-size: 1.6rem;
  transition: opacity 1s ease-in;
}

.learn-top object {
  width: 75%;
  max-width: 280px;
}

.learn-top .button {
  width: 80%;
  text-align: center;
}

#tol .button {
  opacity: 0;
  transition: opacity 1s ease-in 700ms;
}

section#customers {
  grid-area: cus;
}

.customers, #customers .inner::before {
  background: var(--brand-linkd);

}

#customers .inner::before {
  transition: all 300ms ease;
}

#customers .inner:hover::before {
  background: var(--brand-g);

}

section#clients {
  grid-area: cli;
}

section#clients .inner, section#customers .inner {
  transition: transform 250ms ease;
}

section#clients .inner:hover, section#customers .inner:hover {
  transform: scale(1.1);
}

.clients, #clients .inner::before {
  background: var(--brand-p);
}

#clients .inner::before {
  transition: all 300ms ease;
}

#clients .inner:hover::before {
  background: orangered;
}

section#academy {
  grid-area: acad;
}

#academy .inner > * {
    width: 100%;
}

section#hdgk {
  grid-area: hdgk;
}

#hdgk img, #hdgk .about-images {
  grid-row: 1;
}

.quot {
  font-size: 1.2em;
  max-width: 100%;
}

section#ga {
  grid-area: ga;
  background-color: #ffffff;
  /* padding: 2em 0 0 2em; */
  height: unset;
}

#ga .inner {
  gap: 0;
  padding: 0px;
  box-shadow: 0px 6px 18px -4px;
  width: 100%;
  height: unset;
  display: grid;
  overflow: hidden;
  grid-auto-flow: dense;
  transform: translateY(30px);
  border-radius: 0px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 90px;
  opacity: 0;
  z-index: 1;
  transition: all 1400ms ease;
}

#ga img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

section#ga::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100vw;
  background: white;
  z-index: 0;
}

section#about {
  grid-area: about;
  /* min-height: 80vh; */
}

section#about .inner {
  padding: 4em 1.6em;
}

section#about.expand span {
  -moz-column-width: 400px;
       column-width: 400px;
  -moz-column-gap: 2.4em;
       column-gap: 2.4em;
}

section#about h1 {
  margin: 1em 0;
  text-align: left;
  -moz-column-span: all;
       column-span: all;
}

section#about p {
  line-height: 1.8em;
  max-width: 100%;
  margin-top: 0;
}

section#abouti {
  grid-area: abouti;
}

/* section#about::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  height: 100%;
  width: 100vw;
  background: #232323;
  z-index: 0;
} */

section#about .inner::before {
  background: var(--brand-linkd);
}

#about a.button {
  display: inline-block;
  /* color: white; */
}

#about span:nth-child(2) {
  height: 100%;
    display: flex;
    flex-direction: column;
    place-content: center;
}

.about-hdgk {
  padding: 0;
  width: 100%;
  /* height: 100%; */
  background: var(--brand-w);
  border-radius: 12px;

}

.inner .about-hdgk p, .inner .about-hdgk h3 {
  color: var(--brand-blk);
  text-align: left;
  margin: 1em 0;
  line-height: 1em;
  max-width: 100%;
}

.refs {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-direction: row;
  flex-wrap: wrap;
  place-content: space-between;
  background: white;
  place-items: center;
  z-index: 0;
  /* margin: 1em auto; */
  padding: 2em;
  position: relative;
  /* margin-top: 2em; */
}

.refs::before {
  content: "";
  background: white;
  right: 0;
  top: 0;
  position: absolute;
  width: 100vw;
  height: 100%;
  z-index: -1;
}

/*NOT NEEDED NOW?
.refs::after {
  content: "";
  width: 100vw;
  position: absolute;
  height: 100%;
  z-index: -1;
  background: white;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
} */

.refs img {
  margin: 1em;
  width: auto
  ;
}

body.mobgaltrig #ga .inner {
  transform: translateY(-50px);
}

#ga img.wider {
  grid-column: 1/3;
  -o-object-position: 0% 0%;
     object-position: 0% 0%;
}

#ga img.taller {
  grid-row: 2/4;
}

span.newslist-title {
  font-size: 1.4em;
}

p.newslist-extract {
  font-size: 0.9em;
}

section#ab {
  grid-area: ab;
}

section#ab::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 100vw;
  background: white;
}

section#ab .inner {
  background: white;
}

section#ab .inner > * {
  margin: 20px auto;
  text-align: center;
}

section#ne {
  grid-area: ne;
  color: white;
  display: none; /* TEMP DISABLED!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
}

section#ne::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 100vw;
  background: var(--brand-p);
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%235e5c60' fill-opacity='0.61' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
  opacity: 1;
}

section#ne .inner {
  max-width: 100%;
  padding: 2.6em 0;
  place-content: space-evenly;
}

section#ne .inner h2 {
  padding: 0 1.6rem;
}

section#co {
  grid-area: co;
  color: white;
}

section#co::before {
  content: "";
  position: absolute;
  /* left: 0; */
  top: 0;
  height: 100%;
  width: 100vw;
  background: var(--brand-p);
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%235e5c60' fill-opacity='0.61' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
  opacity: 1;
}

#co .inner > * {
  margin: 1em 0;
}

section#lo {
  grid-area: lo;
}

section#lo.isdark::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100vw;
  background: var(--brand-linkd);
}

section#li {
  grid-area: li;
  height: 55vh;
}

section#li.isdark::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 100vw;
  background: var(--brand-linkd);
}

#li ul {
  height: 100%;
  padding: 1em;
  display: flex;
  flex-direction: column;
  place-content: space-evenly;
}

#li li::before {
  left: -20px;
}

body.mobgaltrig #ga .inner {
  transform: translateY(0px);
  opacity: 1;
  z-index: 1;
  transition: all 2s ease;
}

.news-list {
  background-color: white;
  /* border-radius: 16px; */
  padding: 0.8em;
  margin: 2em auto;
}

.news-list a {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-auto-rows: auto;
  grid-gap: 0.6em;
  width: 100%;
  margin: 0 auto;
  padding: 0.8em 0;
  place-items: center;
  place-content: center;
}

.news-list a div {
  font-size: 12px;
}

.news-list img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
  height: 85px;
  /* box-shadow: 0px 5px 8px -3px black; */
}

/* CONTACT FORMS */

#submit-btn, #Msg {
  grid-column: span 2;
}

.contacts {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  place-content: flex-start;
  place-items: center;
  padding: 0.4em 0.85em;
  background-color: rgba(255, 255, 255, 0.87);
  border: 1px solid var(--brand-p);
  border-radius: 8px;
}

.contacts a:not(.social-buttons) {
  color: var(--brand-p);
  margin: 0.6em 0;
  width: 100%;
}

/*                    */

.ts {
  text-shadow: 1px 1px 3px black;
}

#about span p:nth-of-type(3),
#about span p:nth-of-type(4) {
  display: none;
}

#about.expand span p:nth-of-type(3),
#about.expand span p:nth-of-type(4) {
  display: block;
}

.tabbed-forms {
  border: 4px solid white;
  padding: 1em;
  display: none;
}

#tabbed-forms-container {
  width: 100%;
}

#tabbed-forms-container ul {
  width: 100%;
  display: flex;
  height: 70px;
  place-content: space-evenly;
  place-items: center;
}

#tabbed-forms-container ul li {
  height: 100%;
  width: 100%;
  display: flex;
  place-content: center;
  place-items: center;
  cursor: pointer;
}

.client-messaging#tabbed-forms-container ul li.clients, .customer-messaging#tabbed-forms-container ul li.customers {
  border: 4px solid white;
  border-bottom: none;
  transform: translateY(4px);

}

.client-messaging #client-form, .customer-messaging #customer-form {
  display: flex;
}


@media only screen and (min-width: 42em) {
  section#ga .inner {
    grid-auto-rows: 180px;
  }

  .refs {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (min-width: 60em) {
  .grapper {
    grid-template-areas:
      "toi toi toi toi toi toi"
      "cus cus cus cli cli cli"
      "acad acad acad acad acad acad"
      /* "ab ab ab ab ab ab" */
      "about about about abouti abouti abouti"
      "hdgk hdgk hdgk hdgk hdgk hdgk"
      "ne ne ne co co co"
      "ref ref ref ref ref ref"
      "li li lo lo lo lo";

      grid-template-rows: 75vh auto auto auto;
  }

  .plax {
    -webkit-filter: unset;
            filter: unset;
  }

  /* body.mobgaltrig #ga .inner {
    transform: translateY(-15px) scale(1.2);
    opacity: 1;
    z-index: 1;
    transition: all 2s ease;
  } */

  section#ne,
  section#co {
    min-height: 100vh;
    display: flex;
    place-items: center;
  }

  #ne .inner > *,
  #co .inner > * {
    margin: 0.6em 0;
  }

  section#ab .inner {
    background: unset;
  }

  section#ab .inner > * {
    margin: 20px 0;
    text-align: left;
  }

  /* section#about .inner {
    padding: 4em
  } */

  .about-hdgk {
    padding: 1.6em;
  }

  .news-list {
    border-radius: 16px;
    padding: 0.8em;
    margin: 0 auto;
  }

  ul.news-list li {
    padding: 0.8em;
  }

  .news-list a {
    grid-template-columns: 1fr 3fr;
    grid-auto-rows: 80px;
    grid-gap: 1.4em;
    place-items: flex-start;
    place-content: center;
  }

  span.newslist-title {
    font-size: 1.1em;
  }

  span.news-date {
    font-weight: 100;
    font-style: italic;
    font-size: 0.9em;
  }

  p.newslist-extract {
    font-size: 0.8em;
    max-width: 100%;
    color: #606060;
    font-weight: 100;
  }

  .news-list a div {
    font-size: inherit;
  }

  .news-list img {
    max-width: 100%;

    box-shadow: 0px 5px 8px -3px black;
  }

  section#ga .inner {
    grid-auto-rows: 240px;
    grid-template-columns: 1fr 1fr;
    border-radius: 19px;
  }

  .learn-top .button {
    width: 80%;
    text-align: center;
  }

  .quot {
    font-size: 1.6em;
    
  }

  /* body.mobgaltrig section#toi {
    height: calc(100vh - 90px);
  } */

  section#toi::before {
    background: #00000063;
  }

  section#toi h1 {
    /* font-size: 3.4rem; */
    font-size: 5.6em;
  }

  section#ne .inner {
    max-width: 80%;
  }

  section#ne .inner h2 {
    padding: 0;
  }

  section#co .inner,
  section#ne .inner {
    padding: 0;
    height: auto;
  }

  section#co .inner {
    place-content: flex-start;
  }

  section#li {
    height: unset;
  }

  #li li::before,
  .mark::before {
    height: 2.3em;
  }

  section#lo p {
    max-width: 100%;
  }

  .refs {
    display: flex;
    grid-area: ref;
  }

  #tabbed-forms-container ul {
    width: 45%;
  }
}

@media only screen and (min-width: 75em) {
  .grapper {
    grid-template-areas:
    "toi toi toi toi toi toi"
    "cus cus cus cli cli cli"
    "acad acad acad acad acad acad"
    /* "ab ab ab ab ab ab" */
    "about about about abouti abouti abouti"
    "hdgk hdgk hdgk hdgk hdgk hdgk"
    "ne ne ne co co co"
    "ref ref ref ref ref ref"
    "li li lo lo lo lo";
  }
}
