/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

nav {
  width: 100vw;
  height: 70px;
  border-bottom: 1px solid #232323;
  box-shadow: 0px 5px 16px -8px #23232355;
  background-color: white;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  /* overflow: hidden; */
  z-index: 999;
}

nav::after {
  content: "";
  height: 2px;
  width: 100vw;
  position: absolute;
  bottom: 0px;
  transform: translateX(-50vw);
  left: 50%;
  background: #ccc;
}

nav .inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: auto 1fr;
  -ms-grid-rows: 70px auto;
  grid-template-rows: 70px auto;
  width: 100vw;
  height: 70px;
  flex-direction: column;
  place-items: center;
  justify-content: space-around;
  padding: 0 5%;
  position: relative;
  /* top: 0; */
  font-size: 1em;
  z-index: 10;
  -webkit-backdrop-filter: none;
  backdrop-filter: none;
  background: white;
  transition: height 200ms ease 300ms;
}

nav .inner>*:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

nav .inner>*:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

nav .inner>*:nth-child(3) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

nav .inner>*:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}



nav a {
  cursor: pointer;
  width: 100%;
  text-align: left;
}

nav ul a {
  text-align: center;
  border: 1px grey solid;
}

nav ul a:nth-of-type(5) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  border: 3px solid var(--brand-p);
}

nav ul {
  height: 100%;
  transform: scale(0.7);
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  display: -ms-grid;
  display: grid;
  grid-gap: 1em;
  -ms-grid-columns: 1fr 1em 1fr;
  grid-template-columns: 1fr 1fr;
  place-content: space-evenly;
  place-items: center;
  width: 90vw;
  margin: 0 auto;
  overflow: hidden;
  transition: all 300ms ease;
  opacity: 0;
}



/* nav.expand ul::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
    background: black;
    opacity: .7;
} */

nav .ham {
  width: 30px;
  height: 20px;
  display: flex;
  flex-direction: column;
  place-content: space-between;
  place-items: center;
  justify-self: flex-end;
}

nav .ham .line {
  width: 100%;
  height: 2px;
  border-radius: 8px;
  background: grey;
}

nav a {
  width: auto;
  border: none;
  color: var(--brand-g);
}

nav a.alt:not(.button) {
  justify-self: flex-start;
}

nav ul a {
  border: 0px;
}

nav img, nav object {
  /* -webkit-filter: brightness(0.2);
  filter: brightness(0.2); */
  /* width: 130px;
  height: auto; */
  width: auto;
  height: 30px;
}

nav.mono img {
  -webkit-filter: brightness(0.2);
  filter: brightness(0.2);
}

/* nav a:not(.alt) {
  text-decoration: none;
  border: 1px solid grey;
  padding: 0.4em;
  min-width: 100px;
  text-align: center;
  color: grey;
} */

.top-strap {
  width: 100vw;
  height: 80px;
  position: relative;
  padding: 0.8em 0;
  background: var(--brand-p);
  color: white;
  display: flex;
  justify-content: space-between;
}

.top-strap .inner {
  width: 100%;
  margin: 0 auto;
}

.top-strap ul {
  width: 90%;
  max-height: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  display: -ms-grid;
  display: grid;
  position: relative;
  -ms-grid-columns: 1.5fr 1fr;
  grid-template-columns: 1.5fr 1fr;
  -ms-grid-rows: 1fr 0.3em 1fr;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 0.3em;
  grid-auto-flow: column;
}

.top-strap ul>*:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.top-strap ul>*:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.top-strap ul>*:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.top-strap ul>*:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
}

.top-strap ul>*:nth-child(5) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}

.top-strap ul>*:nth-child(6) {
  -ms-grid-row: 5;
  -ms-grid-column: 2;
}

.top-strap ul li {
  width: 100%;
  padding: 0px;
  display: flex;
  font-size: 0.7em;
  place-items: center;
  place-content: flex-start;
  margin: 0;
}

.top-strap li.bricklayers-link {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  font-size: 0.8em;
}

.top-strap li,
.top-strap li a {
  white-space: nowrap;
  color: white;
}

li.bricklayers-link a {
  color: var(--brand-linkl);
}

.top-strap li i {
  margin-right: .5em;
}

/* .top-strap li.social {
    grid-row: 1/3;
    grid-column: 2/3;
    display: flex;
    flex-direction: row;
    place-items: center;
} */

.top-strap .top-social {
  /* display: none; */
  font-size: 1.4em;
  grid-row: span 2;
  place-content: flex-end;
}

.nav-cta {
  display: flex;
  grid-column: 1/3;
}

.nav-cta a {
  margin: 0 0.4em;
}

@media only screen and (max-width:59.9em) {

nav.expand .inner {
  height: 50vh;
  min-height: 35vh;
  position: relative;
  background: white;
  transition: height 200ms ease;
}

nav.expand::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  -webkit-backdrop-filter: brightness(0.7) blur(2.4px) grayscale(70%);
          backdrop-filter: brightness(0.7) blur(2.4px) grayscale(70%);
  margin: 0;
}

nav.expand ul {
  padding: 2em 1em;
  opacity: 1;
  transform: scale(1);
  transition: all 300ms ease 300ms;
}

}

@media only screen and (min-width: 42em) {

  nav .inner {
    width: 100%;
    margin: 0 auto;
  }

  nav .inner ul {
    width: 100%;
  }

  nav li {
    border: none;
    width: unset;
    transition: all 300ms ease;
  }


  .top-strap .inner {
    width: 42em;
  }

  .top-strap .inner ul {
    width: 100%;
  }

  .top-strap ul li {
    grid-column: 1/2;
    place-content: start;
  }

  .top-strap .top-social {
    display: flex;
    place-content: flex-end;
    place-items: center;
    flex-direction: row;
    font-size: 1.6em;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    grid-row: 1/4;
  }

  .top-strap .top-social a {
    width: auto;
    height: auto;
    line-height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    opacity: 0.65;
  }

  li.top-social a:hover {
    opacity: 1;
}

  .top-strap .top-social img {
    width: 100%;
    height: 100%;
  }
}

@media only screen and (min-width: 60em) {

  nav a {
    width: unset;
  }

  nav a.alt {
    justify-self: unset;
  }

  nav ul a {
    border: none;
  }

  nav .inner {
    width: 60em;
    height: inherit;
    padding: 0;
    background: none;
    display: flex;
    flex-direction: row;
    place-content: space-between;
    place-items: center;
  }

  nav .inner ul {
    width: 65%;
    height: 60%;
    margin: unset;
    display: flex;
    place-items: center;
    place-content: space-between;
    transform: unset;
    overflow: unset;
    opacity: 1;
  }

  nav .inner ul a {
    border: none;
    width: unset;
    transition: all 300ms ease;
    padding: .4em .6em;
  }

  nav .inner ul a.button.bigger {
    padding: 1em;
  }

  nav .inner ul a:hover {
    box-shadow: 0px 2px 12px -6px rgba(0, 0, 0, 0.6);
  }

  nav .ham {
    display: none;
  }

  .top-strap {
    width: 100vw;
    height: 45px;
    position: relative;
    padding: 0.8em 0;
    background: var(--brand-p);
    color: white;
    display: flex;
    z-index: 9;
    /* justify-content: flex-end; */
  }

  .top-strap .inner {
    width: 60em;
    display: flex;
    place-content: flex-end;
  }

  .top-strap .inner ul {
    display: flex;
    width: auto;
    max-width: 100%;
    place-content: space-between;
    font-size: 1em;
    -ms-grid-columns: unset;
    grid-template-columns: unset;
    grid-row-gap: unset;
    margin: unset;
  }

  .top-strap ul li {
    padding: 0px;
    margin: 0 1em;
    display: flex;
    font-size: 0.8em;
    text-align: start;
    place-items: center;
    place-content: center;
  }

  .top-strap .top-social {
    font-size: unset;
    place-content: flex-end;
  }

  .top-strap li.social {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    display: flex;
    flex-direction: row;
    place-items: center;
  }

  .top-strap i {
    margin-right: 0.8em;
    font-size: 1.2em;
  }

}

@media only screen and (min-width: 75em) {

  nav .inner,
  .top-strap .inner {
    width: 75em;
  }

  nav .inner ul {
    width: 60%;
  }
}