.grapper {
    grid-template-areas:
      "landi landi landi landi"
      "landt landt landt landt"
      "faq faq faq faq"
      "csi csi csi csi"
      "cst cst cst cst"
      "co co co co"
      "lo lo lo lo"
      "li li li li";

    grid-template-rows: 50vh auto;
  }

  .grapper.services {
    grid-template-areas:
    "tc tc tc tc"
    "main main main main"
    "co co co co"
    "lo lo lo lo"
    "li li li li";
    grid-template-rows: 100vh auto;
  }

  #landt {
    grid-area: landt;
  }

  #landi {
    grid-area: landi;
  }

  #titlecard {
    grid-area: tc;
  }

  #main {
    grid-area: main;
  }

  #csi {
    grid-area: csi;
  }

  #cst {
    grid-area: cst;
  }

  #co {
    grid-area: co;
    min-height: 80vh;
  }

  #li {
      grid-area: li;
  }

  #lo {
    grid-area: lo;
}

#faq {
  grid-area: faq;
}

section#co::before {
  background-color: var(--brand-w);
}

section#titlecard .inner::before {
  content: "";
  position: absolute;
  top: 0em;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  height: 100%;
  background-image: url(../img/blueprints.jpg);
  background-size: cover;
  opacity: .25;
  z-index: -1;
}


/* INNERS */

#co .inner {
    max-width: 820px;
}

/* FORMS */
input[type="submit"] {
    grid-column: span 2;
}

#faq h2 {
  text-align: center;
}

#faq .inner ul {
  grid-template-columns: repeat(1, 1fr);
}

#faq .card {
  box-shadow: 0px 4px 12px -8px;
  padding: 2em;
  text-align: left;
  max-width: 100%;
}

#faq .card h3 {
  text-align: left;
  padding-left: 0;
  margin: 0;
  max-width: 100%;
  font-size: 1.4em;
}

#faq .card p {
  font-size: .8em;
  max-width: 100%;
}

.d-panel h1 {
  font-size: 3.8rem;
}

.inner.d-panel, .flex.d-panel {
  background: transparent;
}

/* .d-panel h1, .d-panel p:not(.instruct) {
  text-shadow: 0px 1px 4px black;
} */


@media only screen and (min-width: 60em) {
  .grapper {
    grid-template-areas:
      "landt landt landt landt landi landi"
      "faq faq faq faq faq faq"
      "csi csi cst cst cst cst"
      "co co co co co co"
      "li li lo lo lo lo";

    grid-template-rows: auto;
  }

  .grapper.services {
    grid-template-areas:
    "tc tc tc tc tc tc"
    "main main main main main main"
    "co co co co co co"
    "li li lo lo lo lo";
  }

  #faq .card {
    border: 1px solid grey;
    border-radius: 12px;
  }

  #faq .inner ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 1.5em;
    grid-gap: 2em;
  }
  
}

@media only screen and (min-width: 75em) {
}